.controll-menu {
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-align: right;

    .title {
        float: left;
        font-weight: bold;
    }

    .status-box {
        display: inline-block;
        margin-right: 10px;
    }
}